<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">



    <!-- Bootstrap core CSS -->
    <link   th:href="@{/css/bootstrap.min.css}"
            href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }

    .possibleId{
        color : green;
        display : none;
    }
    .existId{
        color : red;
        display : none;
    }

    #mailCheckInputFalse{
        background-color:#ebebe4;
    }

    #mailCheckInputTrue{
        background-color:white;
    }

    .correct{
        color : green;
    }
    .incorrect{
        color : red;
    }


</style>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .click{
    color: #9EA4AA;
    text-decoration: none;
  }

  .click:hover {
    color: black;
    text-decoration-color: black;
    text-decoration-thickness: 2.5px;
  }
  .link-secondary:hover{
    text-decoration: none;
  }

  .focus:focus {
    outline: none;
  }

    .final_id_ck{
        display: none;
        color: red;
    }
    .final_pw_ck{
        display: none;
        color: red;
    }
    .final_pwck_ck{
        display: none;
        color: red;
    }
    .final_name_ck{
        display: none;
        color: red;
    }
    .final_mail_ck{
        display: none;
        color: red;
    }
    .final_addr_ck{
        display: none;
        color: red;
    }

</style>
</head>
<body>
<div>
    <div>
        <div>
        <span class="py-2 d-none d-md-inline-block"
              style="margin-left: 1200px; color: #000;"
              th:onclick="|location.href='@{/login}'|"
              href="#"><a href="#" class="click">로그인</a></span>
            <span class="py-2 d-none d-md-inline-block"
                  style="margin-left: 8px; color: #000;"
                  th:onclick="|location.href='@{/signUp}'|"
                  href="#"><a href="#" class="click">회원가입</a></span>
            <span class="py-2 d-none d-md-inline-block"
                  style="margin-left: 7.5px; color: #000;"
                  href="#"><a href="#" class="click">고객센터</a></span>
        </div>
        <a th:onclick="|location.href='@{/}'|">
            <img src="/image/5.png" style="display: block; height: 60px; margin-left: 625.5px;">
        </a>
    </div>
</div>
<!-- 대표 -->

<header class="site-header sticky-top py-1" style="background-color: #FFFFFF; border-width: 0px 0px 2px 0px; border-style: solid; border-color: black">
    <nav class="container d-flex flex-column flex-md-row justify-content-between navbar navbar-light">
    <span class="py-2 d-none d-md-inline-block"
          style="color: #000;"
          th:onclick="|location.href='@{/products/OUTER}'|"
    ><a href="#" class="click">OUTER</a></span>
        <span class="py-2 d-none d-md-inline-block"
              style="color: #000;"
              th:onclick="|location.href='@{/products/TOP}'|"
        ><a href="#" class="click">TOP</a></span>
        <span class="py-2 d-none d-md-inline-block"
              style="color: #000;"
              th:onclick="|location.href='@{/products/KINT}'|"
        ><a href="#" class="click">KINT</a></span>
        <span class="py-2 d-none d-md-inline-block"
              style="color: #000;"
              th:onclick="|location.href='@{/products/SHIRT}'|"
        ><a href="#" class="click">SHIRT</a></span>
        <span class="py-2 d-none d-md-inline-block"
              style="color: #000;"
              th:onclick="|location.href='@{/products/PANTS}'|"
        ><a href="#" class="click">PANTS</a></span>
        <span class="py-2 d-none d-md-inline-block"
              style="color: #000;"
              th:onclick="|location.href='@{/products/SHOES}'|"
        ><a href="#" class="click">SHOES</a></span>
        <span class="py-2 d-none d-md-inline-block"
              style="color: #000;"
              th:onclick="|location.href='@{/products/ACC}'|"
        ><a href="#" class="click">ACC</a></span>
        <form method="get">
            <input name="keyword" id="keyword" placeholder=""
                   class="focus"
                   onfocus="this.placeholder=''"
                   onblur="this.placeholder=''"
                   style="border: solid; border-width: 1px; border-right:0px; border-top:0px; border-left:0px; color: #9EA4AA;"
            >
            <button class="btn" type="button" id="find">
                <img src="/image/6.png" style="width: 35px;">
            </button>
        </form>
    </nav>
</header>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <form class="join_form" action="" th:action th:object="${member}" method="post">
        <!-- object : Member가 아닌 member로 해야 함 Member클래스를 member로 선언하고 받았으니 -->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <div>
                <label for="loginId" style="margin-left: 330px;">아이디</label>
                <input style="width: 460px; height: 45px; margin-left: 330px;"
                       placeholder="아이디" onfocus="this.placeholder=''"
                       onblur="this.placeholder='아이디'"
                       type="text" id="loginId" th:field="*{loginId}" class="form-control"
                       th:errorclass="field-error"> <!-- DP_ * form에서 member를 object로 받고 그 안에 있는 .loginId를 받음 -->
                <div class="field-error" th:errors="*{loginId}"/>
                <span style="margin-left: 330px;" class="possibleId">사용 가능한 아이디입니다.</span>
                <span style="margin-left: 330px;" class="existId">아이디가 이미 존재합니다.</span>
                <span style="margin-left: 330px;" class="final_id_ck">아이디를 입력해주세요.</span>
            </div>
        </div>
        <div>
            <label for="password" style="margin-left: 330px;">비밀번호</label>
            <input style="width: 460px; height: 45px; margin-left: 330px;"
                   placeholder="비밀번호" onfocus="this.placeholder=''"
                   onblur="this.placeholder='비밀번호'"
                   type="password" id="password" th:field="*{password}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"/>
            <span style="margin-left: 330px;" class="final_pw_ck">비밀번호를 입력해주세요.</span>
        </div>
        <div>
            <label for="name" style="margin-left: 330px;">이름</label>
            <input style="width: 460px; height: 45px; margin-left: 330px;"
                   placeholder="이름" onfocus="this.placeholder=''"
                   onblur="this.placeholder='이름'"
                   type="text" id="name" th:field="*{name}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}"/>
            <span style="margin-left: 330px;" class="final_name_ck">이름을 입력해주세요.</span>
        </div>
        <div>
            <label for="email" style="margin-left: 330px;">이메일</label>
            <input style="width: 350px; height: 45px; margin-left: 330px;"
                   placeholder="이메일" onfocus="this.placeholder=''"
                   onblur="this.placeholder='이메일'"
                   type="text" id="email" th:field="*{email}"
                   class="form-control"
                   th:errorclass="field-error">
            <span style="margin-left: 330px;" class="final_mail_ck">이메일을 입력해주세요.</span>
            <span style="margin-left: 330px;" class="mail_input_box_warn"></span>
            <div class="field-error" th:errors="*{email}"/>
            <div><label style="margin-left: 330px;">인증번호</label></div>
            <div class="mailCheck">
                <div class="mailCheckInputBox" id="mailCheckInputFalse" style="width: 460px; height: 45px; margin-left: 330px; display: inline-block;">
                    <input class="form-control mailCheckInput" disabled="disabled">
                </div>
                <div class="mailCheckButton" style="width: 180px; display: inline-block;" >
                    <button style="color: white; border: none; border-radius: 0.2em; background-color: black; width: 100px; height: 45px; margin-left: 5px;" type="button">인증번호 발송</button>
                </div>
                <div  class="clearfix" ></div>
                <span id="codeWar" style="margin-left: 330px;"></span>
            </div>
        </div>
        <label style="margin-left: 330px;">주소</label>
        <div>
            <div style="display: inline-block;">
                <input type="text" id="postcode" th:field="*{postcode}"
                       class="form-control postcode"
                       th:errorclass="field-error"
                       placeholder="우편번호" readonly="readonly" style="width: 350px; height: 45px; margin-left: 330px;">
                <div class="field-error" th:errors="*{postcode}"/>

            </div>
            <div class="form-comtrol addressButton" style="width: 180px; display: inline-block;" onclick="findAddress()">
                <button style="color: white; border: none; border-radius: 0.2em; background-color: black; width: 100px; height: 45px; margin-left: 5px;" type="button">주소검색</button>
            </div>
            <div>
                <input type="text" id="address" th:field="*{address}"
                       class="form-control address"
                       th:errorclass="field-error"
                       style="width: 460px; height: 45px; margin-left: 330px;"
                       placeholder="주소" readonly="readonly">
                <div class="field-error" th:errors="*{postcode}"/>
            </div>
            <div>
                <input type="text" id="detailAddress" th:field="*{detailAddress}"
                       class="form-control detailAddress"
                       th:errorclass="field-error"
                       style="width: 460px; height: 45px; margin-left: 330px;"
                       placeholder="상세주소">
                <div class="field-error" th:errors="*{detailAddress}"/>
                <span style="margin-left: 330px;" class="final_addr_ck">주소를 입력해주세요.</span>
            </div>

            <div class="field-error" th:errors="*{role}"/>
        </div>

        <hr class="my-4" style="width: 460px; margin-left: 330px;">
        <div class="row">
            <div class="col">
                <button class="join_button" style="color: white; border: none; border-radius: 0.2em; background-color: black; width: 460px; height: 45px; margin-left: 332px;" type="submit">회원 가입</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
<hr class="my-4" style="color: black;">
<footer class="container py-5">
    <div class="row">
        <div class="col-2 col-md">
            <font class="d-block mb-3" style="font-size: 25px; color: black;">쇼핑몰 프로젝트</font>
            <font class="d-block mb-3 text-muted">이정환, 공대표</font>
            <small class="d-block mb-3 text-muted">&copy;2021.08.09 ~ 2021.08.20</small>
        </div>
        <div class="col-6 col-md">
            <h5>프로젝트 정보</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Spring Boot</a></li>
                <li><a class="link-secondary" href="#">thymeleaf</a></li>
                <li><a class="link-secondary" href="#">mySQL</a></li>
                <li><a class="link-secondary" href="#">mybatis</a></li>
                <li><a class="link-secondary" href="#">Bootstrap</a></li>
                <li><a class="link-secondary" href="#">jQuary</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>회원 페이지</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">회원가입</a></li>
                <li><a class="link-secondary" href="#">이메일 인증</a></li>
                <li><a class="link-secondary" href="#">주소 api</a></li>
                <li><a class="link-secondary" href="#">비밀번호 암호화</a></li>
                <li><a class="link-secondary" href="#">로그인</a></li>
                <li><a class="link-secondary" href="#">마이페이지</a></li>
                <li><a class="link-secondary" href="#">비밀번호 변경</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>장바구니 페이지</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">장바구니 등록</a></li>
                <li><a class="link-secondary" href="#">장바구니 개별 삭제</a></li>
                <li><a class="link-secondary" href="#">장바구니 전체 삭제</a></li>
                <li><a class="link-secondary" href="#">주문자 정보</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>그 외</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Interceptor를 통해 미로그인시 이동 제한</a></li>
                <li><a class="link-secondary" href="#">회원가입 및 장바구니 등록 시 Validation 등록</a></li>
                <li><a class="link-secondary" href="#">에러 처리</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script tpye="text/javascript" src="/js/signUp.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!-- 주소록 API -->
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script th:inline="javascript">
        $("#find").click(function(){
            let keyword = $("#keyword").val();
            console.log(keyword);
            $.ajax({
                type:"POST",
                url:"/products/find/"+keyword,
                data:JSON.stringify(keyword),
                contentType:"application/json;charset=utf-8",
                dataType:"json",
                success:function(){
                    console.log("성공")
                    location.href="/products";
                },
                error:function(error){
                    location.href="/products/find/"+keyword;
                }
            });
        });
</script>
<script>
    /* 주소 검색 기능 */
    var address = ''; //DB변수
    function findAddress() {
        var width = 500; //팝업의 너비
        var height = 600; //팝업의 높이
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 주소변수 문자열과 참고항목 문자열 합치기
                    addr += extraAddr

                } else {
                    addr += '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                $(".postcode").val(data.zonecode);
                $(".address").val(addr);
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                $(".detailAddress").attr("readonly",false);
                $(".detailAddress").focus();
                self.close()
            }
        }).open({
            popupTitle: '우편번호 검색',
            left: (0 + window.screen.width / 6) - (0 + width / 4),
            top: (0 + window.screen.height / 6) - (0 + height / 4),
            autoClose: true
        });
    }
</script>
</html>